<div class="container py-4">

@if (loading) {
    <p class="text-center">Cargando usuarios...</p>
} @else if (users?.length) {
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    @for (user of users; track user._id) {
        <div class="col">
            <app-user-card [user]="user"></app-user-card>
        </div>
    }
    </div>
    <div class="d-flex justify-content-center mt-4">
        <nav>
            <ul class="pagination">
                <li class="page-item" [class.disabled]="currentPage <= 1">
                    <a class="page-link" href="javascript:void(0);" (click)="goToPage(currentPage - 1)">Anterior</a>
                </li>
                <li class="page-item active"><span class="page-link">{{ currentPage }}</span></li>
                <li class="page-item" [class.disabled]="currentPage >= totalPages">
                    <a class="page-link" href="javascript:void(0);" (click)="goToPage(currentPage + 1)">Siguiente</a>
                </li>
            </ul>
        </nav>
    </div>

} @else {
    <p class="text-center">No se encontraron usuarios.</p>
}
</div>