    <div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">

        <h2 class="mb-4">Nuevo Usuario</h2>

        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>

            <div class="mb-3">
            <label for="first_name" class="form-label">Nombre</label>
            <input type="text" id="first_name" class="form-control" formControlName="first_name">
            @if (userForm.get('first_name')?.invalid && userForm.get('first_name')?.touched) {
                <div class="form-text text-danger">El nombre es obligatorio.</div>
            }
            </div>

            <div class="mb-3">
            <label for="last_name" class="form-label">Apellidos</label>
            <input type="text" id="last_name" class="form-control" formControlName="last_name">
            @if (userForm.get('last_name')?.invalid && userForm.get('last_name')?.touched) {
                <div class="form-text text-danger">El apellido es obligatorio.</div>
            }
            </div>

            <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email">
            @if (userForm.get('email')?.invalid && userForm.get('email')?.touched) {
            <div class="form-text text-danger">
            @if (userForm.get('email')?.hasError('required')) {
                <span>El email es obligatorio.</span>
            }
            @if (userForm.get('email')?.hasError('email')) {
                <span>El formato del email no es válido.</span>
            }
            </div>
        }
        </div>

            <div class="mb-3">
            <label for="image" class="form-label">Imagen (URL)</label>
            <input type="text" id="image" class="form-control" formControlName="image">
                @if (userForm.get('image')?.invalid && userForm.get('image')?.touched) {
            <div class="form-text text-danger">
            La URL de la imagen es obligatoria.
            </div>
            }
        </div>

            <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">{{ formTitle }}</button>
        
        </form>

        </div>
    </div>
</div>